<div class="container">
	<div class="hero-unit">
	  <h1>Get New, Hot Pro Replays</h1>
	  <p>The Hottest Replays - Instantly.  Repper automatically pulls replays from pro players as they stream and play games.</p>
	  <p>
	  	<% if signed_in? %>
				<% if current_user.dropbox_access_key != nil %>
				<%= link_to "Go To Your Replays Page", user_path(current_user.id), class: "btn btn-primary btn-large" %>
				<% else %>
				<%= link_to "Link your account to Dropbox now", authorize_path, class: "btn btn-primary btn-large" %>
				<% end %>
			<% end %>
	  </p>
	</div>
</div>
